<h2>Add new post</h2>
<p>
	<form action="/new" method="POST" role="form">
		<textarea name="post[author]" class="form-control" rows="1" placeholder="Type your name"></textarea>
	 	<br />
	 	<textarea name="post[content]" class="form-control" rows="6" placeholder="Type post here"></textarea>
	 	<br />
	 	<button type="submit" class="btn btn-success">&emsp;OK&emsp;</button>
	</form>
</p>